{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search">
  <details>
  <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
      <span>
        <svg class="icon icon-search" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
          <path d="M26.7078 25.2925L20.449 19.035C22.2631 16.8572 23.1676 14.0638 22.9746 11.236C22.7815 8.40814 21.5057 5.76361 19.4125 3.85251C17.3193 1.9414 14.5698 0.910859 11.7362 0.975258C8.9025 1.03966 6.20274 2.19404 4.19851 4.19827C2.19429 6.20249 1.0399 8.90225 0.975503 11.7359C0.911103 14.5696 1.94164 17.319 3.85275 19.4122C5.76385 21.5054 8.40838 22.7813 11.2362 22.9743C14.064 23.1674 16.8574 22.2628 19.0353 20.4488L25.2928 26.7075C25.3857 26.8005 25.496 26.8742 25.6174 26.9244C25.7388 26.9747 25.8689 27.0006 26.0003 27.0006C26.1317 27.0006 26.2618 26.9747 26.3832 26.9244C26.5046 26.8742 26.6149 26.8005 26.7078 26.7075C26.8007 26.6146 26.8744 26.5043 26.9247 26.3829C26.975 26.2615 27.0008 26.1314 27.0008 26C27.0008 25.8686 26.975 25.7385 26.9247 25.6171C26.8744 25.4958 26.8007 25.3855 26.7078 25.2925ZM3.00029 12C3.00029 10.22 3.52813 8.47995 4.51706 6.99991C5.50599 5.51987 6.9116 4.36631 8.55613 3.68513C10.2007 3.00394 12.0103 2.82571 13.7561 3.17297C15.5019 3.52024 17.1056 4.37741 18.3642 5.63608C19.6229 6.89475 20.4801 8.4984 20.8274 10.2442C21.1746 11.9901 20.9964 13.7997 20.3152 15.4442C19.634 17.0887 18.4805 18.4943 17.0004 19.4833C15.5204 20.4722 13.7803 21 12.0003 21C9.61415 20.9974 7.3265 20.0483 5.63925 18.3611C3.95199 16.6738 3.00293 14.3862 3.00029 12Z" fill="#1D5192"/>
        </svg>
        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
      <div class="modal-overlay"></div>
      <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
            <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
              <div class="field">
                <input class="search__input field__input"
                  id="{{ input_id }}"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.search' | t }}"
                  {%- if settings.predictive_search_enabled -%}
                    role="combobox"
                    aria-expanded="false"
                    aria-owns="predictive-search-results"
                    aria-controls="predictive-search-results"
                    aria-haspopup="listbox"
                    aria-autocomplete="list"
                    autocorrect="off"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                  {%- endif -%}
                >
                <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
                <input type="hidden" name="options[prefix]" value="last">
                <button type="reset" class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}" aria-label="{{ 'general.search.reset' | t }}">
                  <svg class="icon icon-close" aria-hidden="true" focusable="false">
                    <use xlink:href="#icon-reset">
                  </svg>
                </button>
                <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                  <svg class="icon icon-search" aria-hidden="true" focusable="false">
                    <use href="#icon-search">
                  </svg>
                </button>
              </div>

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </div>

                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}
            </form>
          {%- if settings.predictive_search_enabled -%}
            </predictive-search>
          {%- else -%}
            </search-form>
          {%- endif -%}
        <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  </details>
</details-modal>
