{{ "brand-collection-list.css" | asset_url | stylesheet_tag }}

<style>
    .padding--{{ section.id }} {
        padding-top: {{ section.settings.padding-top }}px;
        padding-bottom: {{ section.settings.padding-bottom }}px;
    }
</style>

<div class="padding--{{ section.id }} color-{{ section.settings.color_scheme }} page-width">
    <div class="brand-collection-list-container">
        {% if section.settings.collection_list != blank %}
            {% for collection in section.settings.collection_list %}
                <a href="{{ collection.url }}">
                    {% render "picture", class: "media custom-brand-image", mobileSrc: collection.featured_image, desktopSrc: collection.featured_image %}
                    <p class="subtitle-text">{{ collection.title }}</p>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% schema %}
    {
        "name": "Brand collection category",
        "settings": [
            {
                "type": "collection_list",
                "id": "collection_list",
                "label": "Select collections"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "default": "scheme_1",
                "label": "Color Scheme"
            },
            {
                "type": "header",
                "content": "Section padding "
            },
            {
                "type": "range",
                "id": "padding-top",
                "label": "Top padding",
                "min": 0,
                "max": 150,
                "step": 5,
                "unit": "px",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding-bottom",
                "label": "Bottom padding",
                "min": 0,
                "max": 150,
                "step": 5,
                "unit": "px",
                "default": 40
            }
        ],
        "presets": [
            {
                "name": "Brand collection category"
            }
        ]
    }
{% endschema %}